# Application settings
CLINIC_APP_NAME=Clinic Appointment Booking API
CLINIC_APP_ENV=development
CLINIC_DEBUG=true
CLINIC_HOST=0.0.0.0
CLINIC_PORT=8000
CLINIC_TIMEZONE=Africa/Nairobi
CLINIC_JWT_SECRET=Rb33Ft7_JBW3cyeLvJO_eNik_SKr4i6FTmdN01tU5f8lLfLrQ-Lt9qoKztIv1oGI
CLINIC_JWT_ALGORITHM=HS256
CLINIC_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# PostgreSQL connection. Replace the sample username and password locally.
CLINIC_DATABASE_URL=postgresql+psycopg://clinic_user:clinic_password@localhost:5432/clinic_booking
